<div class="row">
  <div class="col col-lg-6 col-lg-offset-3">
    <div class="alert alert-success text-center">
      <h4>Muchas gracias</h4>
      <p>Tendremos en cuenta tus sugerencias</p>
    </div>
  </div>
</div>
