a.create-feedback:hover {
  text-decoration: none;

  .alert {
    color: #fff;
  }

  .alert.alert-danger {
    background-color: #d9534f;
  }
  
  .alert.alert-warning {
    background-color: #f0ad4e;
  }

  .alert.alert-success {
    background-color: #5cb85c;
  }
}
