<p style="font-size: 75%; color: #333;">
  <%= t '.reply_delimiter' %>
</p>

<%= simple_format @body %>

<% if @ticket.ask_for_feedback? @to %>
  <hr />
  <p>
    Visite el siguiente enlace para darnos su <strong>opinión</strong> sobre esta atención:

    <%= link_to 'Opinar sobre esta atención', new_ticket_feedback_url(@ticket, from: @to) %>
  </p>
<% end %>
