<p class="delimiter">
  <%= t '.reply_delimiter' %>
</p>

<%= simple_format @body %>

<%= render 'feedback' if @ticket.ask_for_feedback? @to %>

<% reply_history.each do |reply| %>
  <hr />
  <blockquote>
    <%= simple_format reply %>
  </blockquote>
<% end %>
